.wrapper{
    background-color:#0E0E0E;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    font-size: 12px;
}
.gameboard{
    flex:7;
    display: flex;
    flex-direction: column;
}
.score{
    flex:1;
    display: flex;
    flex-direction: row;
}
.settings{
    flex:2;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.row{
    flex:1;
    display: flex;
    flex-direction: row;
}
.cell{
    flex:1;
    border:0.01rem solid #3B5441;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reset{
    flex:1;
}
.single_Player {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.settings button{
    height: 70%;
    width:90%;
    padding: 2px;
    color:#83E85A;
    background-color:  #3B5441;
    border: 0;
    font-size: 1.2rem;
    
}
.multiplayer{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.reset{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.first_player, .second_player {
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color:#83E85A
}
.first_player span, .second_player span{
    text-align: center;
    font-size: 1.2rem;
    line-height: 0.1;
}
.cell img{
    width: 60%;
}

