.wrapper{
    background-color:#0E0E0E;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    font-size: 12px;
}
.gameboard{
    margin-top: 3%;
    margin-left:3%;
    margin-right: 3%;
    flex:7 7 0;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:33.3% 33.3% 33.3%;
}
.score{
    flex:1 0;
    display: flex;
    flex-direction: row;
    font-family: 'Orbitron', sans-serif;
}
.settings{
    margin-bottom: 3%;
    flex:2 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.cell{
    border:1px solid #3B5441;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reset{
    flex:1;
}
.single_Player {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.settings button{
    height: 70%;
    width:90%;
    padding: 2px;
    color:#83E85A;
    background-color:  #3B5441;
    border: 0;
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    transition: all ease-in-out 0.02s;
    
}
.multiplayer{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.reset{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.first_player, .second_player {
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color:#83E85A
}
.first_player span, .second_player span{
    text-align: center;
    font-size: 1.25rem;
    line-height: 0.1;
}
.cell img{
    max-height: 80%;
    width:60%;
}
#AI{
    background-color: blue;
    font-size: 3.5em;
    transition:color linear .3s,background linear .3s;
}
#resetScore{
    background-color: red;
}
#resetButton{
    background-color: green;
}
#firstScore,#secondScore{
    font-size: 2em;
}
.active{
    background-color: ivory !important;
    color:black !important;
}
.pushed{
    transform: translate(0px,5px);
}

@media only screen and (min-width:375px){
   .first_player span,.second_player span{
        font-size: 1.6rem;
    }
    .settings button{
        font-size: 2.5em;
    }
    #AI{
        font-size: 4em;
    }
}
@media only screen and (min-width:414px){
    .first_player span,.second_player span{
        font-size: 1.8rem;
    }
}
@media only screen and (min-width:768px){
    .settings{
        font-size: 1.2rem;
    }
    .first_player span,.second_player span{
        font-size: 2rem;
    }
}
@media only screen and (min-width:1280px){
    html{
        overflow: hidden;
    }
    .wrapper{
        max-height: 100vh;
        display: grid;
        grid-template-columns: 2fr 6fr 2fr;
        grid-template-rows: 8fr 1fr 1fr;
        grid-template-areas: "first board second"
                             "first . second"
                             "settings settings settings";
        
    }
    .settings{
        grid-area: settings;
        font-size: 1.3em;
        justify-content: flex-start;
    }
    .score{
        flex-direction: column;
    }
    .settings button{
        width:50%;
        height:100%;
    }
    .gameboard{
        grid-area: board;
    }
    .first_player span{
        grid-area: first;
        font-size: 1.7rem;
    }
    .second_player span{
        grid-area: second;
        font-size: 1.7rem;
    }
    .cell img{
        height: 70%;
        width:50%;
    }
}
 